@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  background: #050505;
  color: #00ff9c;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 20px;
}

.terminal {
  max-width: 900px;
  margin: auto;
}

#output p {
  margin: 5px 0;
}

.cmd {
  color: #00eaff;
}

.input-line {
  display: flex;
  align-items: center;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #00ff9c;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 10px;
  width: 100%;
}
